@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
 
  font-size: 13px;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.container-header {
  background: url("hotel.jpg") no-repeat center top/cover;
  position: relative;
}

/** NAVBAR SECTION   **/
.navbar {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);

  padding: 13px;
  padding-right: 100px;
  padding-left: 100px;
  align-items: center;
  background: darkcyan;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: wheat;
}
.logo-text {
  font-size: 25px;
  color: wheat;
  margin-left: 10px;
  font-family: "Permanent Marker", cursive;
}
.items {
  display: flex;
  list-style: none;
  font-size: 15px;
}
.item {
  margin: 0 10px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: 500;
}
.item-link {
  text-decoration: none;
  color: white;
}
.item-link:hover {
  color: white;

  border-bottom: 2px solid wheat;
}
.btn {
  padding: 5px 30px;
  background-color: darkcyan;
  color: white;
  border: 1.7px solid white;
}
.btn:hover {
  color: darkcyan;
  background-color: white;

  border: 1.7px solid white;
}
.active {
  color: wheat;
  border-bottom: 1.7px solid wheat;
}
/** HEADER SECTION   **/

.header {
  display: flex;
  padding: 13px;
  max-width: 1300px;
  margin: auto;
  height: 85.5vh;
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  width: 100%;
  height: 100%;
}
.left-header {
  flex: 1.6;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-top: 50px;
  z-index: 3;
}
.right-header {
  flex: 1;
  padding: 50px;

  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  z-index: 2;
}
.header-subtext {
  color: orange;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.header-maintext {
  font-size: 40px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: 900;
  color: wheat;
  letter-spacing: 0.4px;
}
.header-para {
  font-size: 16px;
  width: 80%;
  text-align: justify;
  margin-bottom: 40px;
  color: whitesmoke;
}
.btn-main {
  border: 2px solid darkcyan;
  padding: 10px 25px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-start;
  background: darkcyan;
  color: white;
  box-shadow: 2px 2px 6px #333;
}

.btn-main:hover {
  color: darkcyan;
  background: white;
  border: 2px solid darkcyan;
}
.booking-form {
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  width: 400px;
 
  margin: auto;

  background-color: white;
  padding: 20px;
}
.main-text-form {
  color: crimson;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.input-field {
  max-width: 100%;
}
.book-quick-form {
  display: flex;
  flex-direction: column;

 
 
 
}
.form-input {
  border: none;
 
  padding: 15px 10px;
  

  border-bottom: 2px solid wheat;
  background-color: rgba(255, 255, 255, 0.6);
  
  font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  letter-spacing: 1px;
  width: 100%;

}
.form-input:focus {
  outline: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid darkcyan;
}
.input-field-2{
    display: flex;
    justify-content: space-between;

}
.half-size-input{
    border: none;
    border-bottom: 2px solid wheat;
    background-color: rgba(255, 255, 255, 0.6);
    flex:1;

  padding: 15px 10px;
  

    font-size: 14px;
  color: #333;
  margin-bottom: 15px;
  letter-spacing: 1px;
  max-width: 45%;
  
  
    
   
 
  
    
   
}
.half-size-input:focus{
    outline: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid darkcyan;
 
  
   
}
.book-submit {
  padding: 10px 50px;
  color: wheat;
  background: darkcyan;
  border: 2px solid darkcyan;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  margin-top: 20px;
  width: 100%;
  letter-spacing: 1.5px;
}
/** OFFERS SECTION  **/

.offer-section {
  padding: 15px;
  text-align: center;
  background: darkcyan;
  font-size: 16px;
  color: wheat;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.fa-fire {
  margin-right: 10px;
  color: orange;
  font-size: 20px;
}
.offer {
  color: orange;
  font-weight: bold;
  margin: 0 5px;
}

/**  ABOUT US SECTION  **/
.about-us {
  display: flex;
  max-width: 1300px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.left-aboutus {
  padding: 50px;
  flex: 1;
}
.about-right-side {
  flex: 1;
  margin: 70px;
  position: relative;
}
.main-image {
  position: absolute;
  width: 55%;
  height: auto;
  top: 20%;
  right: 0;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}
.main-image-alt {
  position: absolute;
  width: 55%;
  height: auto;
  left: 20%;
  top: 50%;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}
.main-image-alt-2 {
  position: absolute;
  width: 55%;
  height: auto;
  top: 0;
  left: 0;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}
.aboutus-subtext {
  color: crimson;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.aboutus-maintext {
  font-size: 32px;
  color: #333;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 40px;
}
.aboutus-para {
  font-size: 16px;
  width: 90%;
  text-align: justify;
  margin-bottom: 20px;
  color: #777;
}
.margin-bottom {
  margin-bottom: 50px;
}

.fa-hand-point-right {
  color: orange;
  font-size: 15px;
  margin-left: 10px;
}

/*About us boxes */
.card-container{
  display: flex;
  max-width: 1300px;
 
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: space-between;
 


}
.card-container>div{
  padding:20px;
  margin:20px;
  transition: 0.2s all;

  border-radius: 5px;
 

}
.card-container>div:nth-child(1){
  border-bottom:3px solid rgb(220, 20, 60);
  box-shadow: 2px 10px 60px rgba(220, 20, 60,.09);


}
.card-container>div:nth-child(2){
  border-bottom:3px solid rgb(255, 165, 0);
  box-shadow: 2px 10px 60px rgba(255, 165, 0,.09);

}
.card-container>div:nth-child(3){
  border-bottom:3px solid green;
  box-shadow: 0 10px 60px rgba(0, 128, 0,.09);


}
.card-container>div:nth-child(4){
  border-bottom:3px solid darkcyan;
  box-shadow: 0 10px 60px rgba(0, 139, 139,.09);



}
.card-container>div>i{
  
  font-size: 45px;
  margin-bottom: 25px;

}
.fa-heart{
  
  color: crimson;

}
.fa-route{
  
  color:orange;

}
.fa-suitcase-rolling{
  
  color:green;

}
.fa-person-booth{
  
color: darkcyan;

}
.card-container>div>h3{
  font-size: 20px;
  color:#333;
  margin-bottom: 12px;
  line-height: 1.3;
  
}
.card-container>div>p{
  font-size: 14px;
  color: #777;
  text-align:justify;


}
/* .card-container>div:hover{
 
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  border-radius: 5px;
  padding:30px 20px;
} */
/* .about-us-readmore{
  padding:10px 40px;
  background: darkcyan;
  display: none;
} */

.grid-container{
  display: grid;   
  grid-template-columns: repeat(4,270px);
  justify-content: center;
/* max-width: 1300px; */
  grid-gap: 70px;
  margin-bottom: 50px;
  
  
}
.our-rooms{
  display: flex;
  max-width: 1300px;
  padding:50px;
 
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  flex-direction: column;
}
.room-grids{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,220px);
  grid-gap: 30px;
}
.room{
  position: relative;
}
.room-1{
  grid-column: 1/3;
  grid-row: 1/3;
  background: url('room-1.jpg') no-repeat center center/cover;
}
.room-2{
  background: url('room2.jpg') no-repeat center center/cover;
}
.room-3{
  background: url('room-3.jpg') no-repeat center center/cover;
}
.room-4{
  background: url('room-4.jpg') no-repeat center center/cover;
}
.room-5{
  background: url('room-5.jpg') no-repeat center center/cover;
}
.price-tag{
  background: crimson;
  position: absolute;
  z-index: 100;
  padding:3px 15px;
  margin-top: 15px;
  right:5%;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 11px;
  border-radius: 1px;
}
.color-bg-1{
  background:  crimson;

}
.color-bg-2{
  background:  orange;

}
.color-bg-3{
  background: darkcyan;

}
.color-bg-4{
  background:  green;

}
.room-category{
  position: absolute;
  z-index: 100;
  padding:10px 15px;
  bottom: 0;
  width: 100%;

  font-size: 14px;
  color: whitesmoke;
letter-spacing: 1px;
text-transform: uppercase;

}
.room:hover .room-category{

  
    background: rgba(0, 0, 0,.6);
    color: wheat;
    
  
  

}

/*
Alternate Way 1
.room:hover>.room-category{

  
    background: rgba(0, 0, 0,.6);
    color: wheat;
    
  
  

}


Alternate Way 2
.room:hover>div:nth-child(3) {

  
    background: rgba(0, 0, 0,.6);
    color: wheat;
    
  
  

}
 */
.main-room-category{
  display: flex;
  flex-direction: column;
  
  position:absolute;
  margin:20px;
  bottom: 2%;
  right: 2%;
  left:2%;
  padding:20px;
  
  background: rgba(0, 0, 0,.6);
  
 
}
.main-room-category .room-Luxury{
  font-size: 31px;
  color: wheat;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 19px;
  

}
.features-luxury{
  display: flex;
  justify-content: space-between;
}
.features-luxury>div{
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  letter-spacing: .4px;

}
.margin-right{
  margin-right: 10px;
}
.btn-for-direct-room-book{
  background: darkcyan;
  padding:10px 40px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: wheat;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  z-index: 100;
}
.btn-for-direct-room-book:hover{
  background: rgb(7, 105, 105);

}
.room-Luxury{
  z-index: 100;
}
.features-luxury{
  z-index: 100;
}
.card-info{
  display: flex;

  max-width: 1200px;
  
  margin:20px auto;
 
  /* padding:50px; Important to note  padding does not work in images */
  padding:20px 50px;
  height: 200px;
  background:url('beach-3.jpg') no-repeat center top/cover;
  position: relative;

}
.overlay-main{
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.5);
}
.card-content{
  display: flex;
  width: 100%;

  justify-content: space-between;
  z-index: 100;
  align-items: center;

}
.card-content>h1{
  flex: 2;
  font-size: 30px;
  color: wheat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0px;
  padding-bottom: 0px;
  align-self: center;
  letter-spacing: .8px;
}
.align-item{
  align-self: center;
}
.card-content>h1>span{
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin-top: 0px;
  padding-top: 0px;
letter-spacing: .6px;

}
/*
Blog Designs */
.smart_blogs{
  /* height: 300px; */
  background-color: rgb(235, 231, 231);
  display: flex;
  justify-content: center;
  padding:70px 0px;
  
  
  



}
.blog-container{
  max-width: 1250px;
  /* margin:100px auto;
  padding: 60px 0px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.blog__card{
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow:0px 10px 60px rgba(0, 0, 0,.1) ;
  margin-right: 40px;

}
.img-container{
  background: url('beach-3.jpg') no-repeat left center/cover;


  width: 350px;
  height:300px;
  position: relative;

}
.container-photos{
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  color: white;
  background: orange;
  padding:5px 10px;
  text-transform: uppercase;
  /* top:0;
  left:0; */
  /* right: 0; */
  bottom: 0;

}
.circle{
  position: absolute;
  font-size: 9px;
  font-weight: bold;
  color: white;
  background: orange;
  padding:5px 10px;
  text-transform: uppercase;
  border-radius: 50%;
  right: 5%;
  top:5%;
  text-align: center;

}
.blog-head{
  color: black;
  font-size: 24px;
  padding:10px 10px 0px 10px;
}
.blog-text{
  font-size:16px ;
  color: orange;
  padding:0px 10px 40px 10px;

}
.comments-time{
  padding:0px 10px 20px 10px;
  display: flex;
 
}

.fa-clock{
  margin-right: 5px;
}
.fa-comments{
  margin-right: 5px;

}
.comments-time>p{
  margin-right: 15px;
  color: #999;
}