@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1{
    text-align: center;
    text-transform: uppercase;
    background: crimson;
    color: wheat;
    padding:20px;
}

.container{
    background: #999;
    padding: 40px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.item{
    margin:20px;
    padding: 20px;
    background: crimson;
    color: wheat;
}
.i1{
    align-self: flex-end;
    order: 1;
    flex-grow: 1;
}
.i3{
    height: 250px;
    font-size: 35px;
}
.i4{
    align-self: flex-start;
    order: 0;
}
.i5{
    align-self: flex-end;
    order: -1 ;
  flex-basis: 200px ;
  
}